/* reset */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@100;300;400;700;800&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

input {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* global settings */
.container {
  max-width: 1352px;
  margin: 0 auto;
}

.footer .fa-facebook-f, .footer .fa-twitter, .header a, .header .container p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.opener .opener-slogan-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header ul {
  height: 100%;
  width: 100%;
}

.footer a, .contacts form .checkbox-label span, .contacts form .checkbox-label, .contacts form input, .header a {
  cursor: pointer;
}

.footer p:nth-of-type(2), .contact-data p, .contacts form .checkbox-label, .contacts form input, .statistic p, .header a {
  color: #A5A5A5;
}

.calc .calc__form .form__input::-moz-placeholder, .calc .calc__form .select__input::-moz-placeholder {
  font-family: "Open Sans", sans-serif;
}

.calc .calc__form .form__input:-ms-input-placeholder, .calc .calc__form .select__input:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
}

.calc .calc__form .select__input, .calc .calc__form .form__input::placeholder,
.calc .calc__form .select__input::placeholder, .calc .calc__columns, .footer p:nth-of-type(2), .contact-data p, .contacts-info p, .contacts form .checkbox-label, .contacts form input, .contacts form label, .pricing .pricing-boxes a, .pricing .pricing-boxes li, .pricing .pricing-boxes .price, .benefits-container .benefit-paragraph, .opener p, .header a {
  font-family: "Open Sans", sans-serif;
}

.contacts form button, .contacts form label, .benefits-article:nth-child(3) .trumpet img, .benefits-img img, .benefits-container::after, .statistic .statistic-circle::after {
  display: block;
}

/* header styling */
.header {
  height: 7vh;
  box-shadow: 0 3px 6px #00000029;
}
.header .burger {
  display: none;
}
.header * {
  height: 100%;
}
.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .container p {
  color: #08A6E4;
  font-size: 32px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}
.header nav {
  flex-basis: 50%;
}
.header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header a {
  padding: 0 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  border-bottom: 2px solid transparent;
  font-weight: 700;
}
.header a:hover {
  color: #000;
  border-bottom: 2px solid #08A6E4;
}

@media (max-width: 1360px) {
  .header {
    height: 70px;
  }
  .header .container {
    display: grid;
    grid-template-columns: 1fr 150px 3fr minmax(300px, 1fr) 1fr;
  }
  .header p {
    grid-column: 2/3;
  }
  .header nav {
    grid-column: 4/5;
  }
}
@media (max-width: 550px) {
  .header .active {
    transform: scale(1, 1);
  }
  .header .container {
    grid-template-columns: 1fr 150px 4fr 50px 1fr;
  }
  .header .burger {
    grid-column: 4/5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
  }
  .header .burger span {
    display: block;
    margin-top: 8px;
    width: 20px;
    height: 2px;
    background-color: #08A6E4;
    transition: 0.8s transform, 0.4s opacity;
    opacity: 1;
  }
  .header .burger span.off {
    opacity: 0;
  }
  .header .burger span.left {
    transform: translate(0, 10px) rotate(-45deg);
  }
  .header .burger span.right {
    transform: translate(0, -10px) rotate(45deg);
  }
  .header nav {
    position: absolute;
    padding: 0 12px;
    top: 82px;
    left: 0;
    right: 0;
    height: 180px;
    box-shadow: 0px 3px 6px #00000029;
    transform: scale(1, 0);
    transition: transform 0.5s ease-in-out;
    transform-origin: top;
    background-color: #fff;
  }
  .header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
/* main */
.main > * {
  padding-top: 100px;
}

/* section opener */
.opener {
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.opener .opener-slogan-container {
  flex-grow: 1;
}
.opener h1 {
  font-size: 49px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.opener p {
  margin: 38px 0;
  font-size: 16px;
  font-weight: 400;
}
.opener a {
  padding: 22px 157px;
  border-radius: 40px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  background-color: #08A6E4;
  box-shadow: 5px 10px 14px #07ACE629;
}
.opener .image {
  width: 100%;
  max-width: 100%;
  flex-basis: 50%;
  background-image: url("../assets/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1360px) {
  .opener {
    padding-top: 50px;
    height: calc(100vh - 70px);
  }
  .opener .opener-slogan-container p {
    margin: 19px 0;
  }
  .opener .opener-slogan-container a {
    padding: 11px 79px;
    border-radius: 40px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
  }
  .opener .image {
    flex-basis: auto;
    flex-grow: 5;
  }
}
@media (max-width: 550px) {
  .opener {
    padding-top: 0;
  }
  .opener .opener-slogan-container h1 {
    font-size: 32px;
  }
  .opener .opener-slogan-container p {
    font-size: 14px;
  }
  .opener .opener-slogan-container a {
    padding: 11px 40px;
    border-radius: 40px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
  }
}
/*section statistic */
.statistic .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.statistic h2 {
  font-size: 32px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.statistic .statistic-articles {
  width: 60%;
  margin: 75px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.statistic .statistic-article {
  flex-basis: 20%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.statistic .statistic-circle {
  height: 56px;
}
.statistic .statistic-circle::after {
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: -5%;
  left: 20%;
  z-index: -1;
}
.statistic span {
  margin: 12px 0;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 6px;
}
.statistic p {
  height: 40px;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.statistic-article:nth-child(1) .statistic-circle::after {
  background-color: #FB3B64;
}

.statistic-article:nth-child(2) .statistic-circle::after {
  background-color: #08A6E4;
}

.statistic-article:nth-child(3) .statistic-circle::after {
  background-color: #55DFB4;
}

@media (max-width: 670px) {
  .statistic .container {
    max-width: 100%;
    padding: 0 12px;
  }
  .statistic h2 {
    margin: 0 48px;
    text-align: center;
  }
  .statistic .statistic-articles {
    width: 100%;
    padding: 0 24px;
  }
}
@media (max-width: 670px) {
  .statistic {
    padding-top: 24px;
  }
  .statistic h2 {
    font-size: 20px;
  }
  .statistic .statistic-articles {
    padding: 0 12px;
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .statistic .statistic-article {
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .statistic .statistic-circle {
    height: 42px;
  }
  .statistic .statistic-circle::after {
    width: 45px;
    height: 45px;
  }
}
/*section benefits */
.benefits {
  background-color: #F7F7F7;
  padding-bottom: 100px;
}
.benefits .container {
  max-width: 1124px;
}

.benefits-article {
  height: 370px;
  margin: 36px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}
.benefits-article > * {
  flex-basis: 50%;
}

.benefits-container {
  padding: 50px;
}
.benefits-container > :first-child {
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.benefits-container .benefit-paragraph {
  margin: 30px 0;
  font-size: 16px;
  font-weight: 400;
}
.benefits-container::after {
  content: "";
  width: 327px;
  height: 4px;
  background-color: gold;
}

.benefits-article:nth-child(1) .benefits-img {
  position: relative;
}
.benefits-article:nth-child(1) .benefits-img img {
  position: relative;
  width: 386px;
  height: 219px;
  z-index: 4;
}
.benefits-article:nth-child(1) .benefits-img .benefits-shape {
  position: absolute;
  top: -15%;
  left: 40%;
  z-index: 1;
  width: 165px;
  height: 165px;
  background-color: #FB3B64;
  border-radius: 40px;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
}

.benefits-article:nth-child(2) {
  flex-direction: row-reverse;
}
.benefits-article:nth-child(2) .benefits-img {
  margin: 50px;
  position: relative;
}
.benefits-article:nth-child(2) .benefits-img img {
  position: relative;
  width: 426px;
  height: 328px;
  z-index: 4;
}
.benefits-article:nth-child(2) .benefits-img .benefits-shape {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 320px;
  height: 320px;
  background-color: #08A6E4;
  border-radius: 50%;
}

.benefits-article:nth-child(3) {
  background-color: transparent;
  height: auto;
  gap: 36px;
}
.benefits-article:nth-child(3) > * {
  background-color: #fff;
  height: 370px;
}
.benefits-article:nth-child(3) .benefits-container {
  flex-basis: 65%;
}
.benefits-article:nth-child(3) .trumpet {
  position: relative;
  background-color: #55DFB4;
}
.benefits-article:nth-child(3) .trumpet img {
  z-index: 3;
  max-height: 60%;
  max-width: 60%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefits-article:nth-child(1) .benefits-container::after {
  background-color: #FB3B64;
}

.benefits-article:nth-child(2) .benefits-container::after {
  background-color: #08A6E4;
}

.benefits-article:nth-child(3) .benefits-container::after {
  background-color: #55DFB4;
}

@media (max-width: 1150px) {
  .benefits {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .benefits .container {
    max-width: 100%;
    padding: 0 30px;
  }

  .benefits-article {
    height: 370px;
    margin: 30px 0;
  }

  .benefits-img img {
    max-width: 100%;
  }

  .benefits-article:nth-child(1) .benefits-img .benefits-shape {
    left: 50%;
  }

  .benefits-article:nth-child(2) .benefits-container {
    padding: 24px;
  }
  .benefits-article:nth-child(2) .benefits-img {
    margin: 24px;
  }
  .benefits-article:nth-child(2) .benefits-img img {
    width: 380px;
    height: 300px;
  }
}
@media (max-width: 900px) {
  .benefits-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .benefits-container {
    padding: 12px;
    flex-basis: auto;
  }
  .benefits-container > :first-child {
    font-size: 32px;
    margin: 24px;
  }
  .benefits-container .benefit-paragraph {
    font-size: 14px;
    margin: 24px;
  }
  .benefits-container::after {
    display: none;
  }

  .benefits-img {
    order: -1;
    flex-basis: auto;
  }
  .benefits-img img {
    max-width: 100%;
  }

  .benefits-article:nth-child(1) .benefits-img img {
    max-width: 193px;
    max-height: 110px;
  }
  .benefits-article:nth-child(1) .benefits-img .benefits-shape {
    max-width: 128px;
    max-height: 128px;
    left: 50%;
  }

  .benefits-article:nth-child(2) {
    flex-direction: column;
  }
  .benefits-article:nth-child(2) .benefits-container {
    padding: 0 24px;
  }
  .benefits-article:nth-child(2) .benefits-container > :first-child {
    margin: 0 24px 24px 24px;
  }
  .benefits-article:nth-child(2) .benefits-img img {
    max-width: 175px;
    max-height: 135px;
  }
  .benefits-article:nth-child(2) .benefits-img .benefits-shape {
    max-width: 132px;
    max-height: 132px;
  }

  .benefits-article:nth-child(3) {
    align-items: stretch;
    gap: 0;
  }
  .benefits-article:nth-child(3) .benefits-container {
    padding: 0 12px;
    height: auto;
  }
  .benefits-article:nth-child(3) .trumpet {
    height: 200px;
    position: unset;
  }
  .benefits-article:nth-child(3) .trumpet img {
    margin: 24px auto;
    height: 200px;
    max-height: 100%;
    max-width: 100%;
    position: unset;
    top: unset;
    left: unset;
    transform: unset;
  }
}
@media (max-width: 400px) {
  .benefits-container > :first-child {
    font-size: 30px;
    margin: 12px;
  }
  .benefits-container .benefit-paragraph {
    font-size: 12px;
    margin: 12px;
  }

  .benefits-article:nth-child(2) .benefits-container {
    padding: 0 12px;
  }
  .benefits-article:nth-child(2) .benefits-container > :first-child {
    margin: 0 12px 12px 12px;
  }
}
/*section pricing */
.pricing .container {
  max-width: 1266px;
}
.pricing h3 {
  margin: 50px auto;
  text-align: center;
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.pricing .pricing-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 550px;
}
.pricing .pricing-boxes .box-name {
  margin: 34px 0 14px 0;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.pricing .pricing-boxes .price {
  font-size: 46px;
  font-weight: 200;
}
.pricing .pricing-boxes .price-description {
  margin-bottom: 50px;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.pricing .pricing-boxes li {
  font-size: 14px;
  font-weight: 400;
  margin: 24px 0;
}
.pricing .pricing-boxes li::before {
  content: "";
  display: inline-block;
  margin-right: 11px;
  width: 11px;
  height: 11px;
  background-image: url("/assets/Ckechmark-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.pricing .pricing-boxes a {
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px 57px;
  border-radius: 25px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}
.pricing article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 29%;
  position: relative;
  padding-bottom: 70px;
  border-radius: 18px;
}
.pricing article:nth-child(1) {
  border: 1px solid #FB3B64;
}
.pricing article:nth-child(1) .price {
  color: #FB3B64;
  margin-bottom: 70px;
}
.pricing article:nth-child(1) a {
  background-color: #FB3B64;
}
.pricing article:nth-child(1) li:nth-child(4)::before, .pricing article:nth-child(1) li:nth-child(5)::before {
  background-image: url("/assets/Close.svg");
}
.pricing article:nth-child(2) {
  flex-grow: 1;
  margin: 0 4%;
  box-shadow: 5px 10px 27px #07ACE629;
  border: 1px solid #08A6E4;
  align-self: stretch;
  justify-content: center;
}
.pricing article:nth-child(2) .price {
  color: #08A6E4;
}
.pricing article:nth-child(2) a {
  background-color: #08A6E4;
  box-shadow: 5px 10px 27px #07ACE629;
}
.pricing article:nth-child(2) li:nth-child(5)::before {
  background-image: url("/assets/Close.svg");
}
.pricing article:nth-child(3) {
  border: 1px solid #55DFB4;
}
.pricing article:nth-child(3) .price {
  color: #55DFB4;
}
.pricing article:nth-child(3) a {
  background-color: #55DFB4;
}

@media (max-width: 1300px) {
  .pricing .container {
    max-width: 100%;
    padding: 0 18px;
  }
}
@media (max-width: 900px) {
  .pricing {
    padding-top: 50px;
  }
  .pricing h3 {
    margin: 25px auto;
  }
  .pricing .pricing-boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    gap: 48px;
  }
  .pricing .pricing-boxes article {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    padding-bottom: 24px;
  }
  .pricing .pricing-boxes .left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }
  .pricing .pricing-boxes .box-name {
    margin: 0;
  }
  .pricing .pricing-boxes .price {
    margin: 0;
  }
  .pricing .pricing-boxes .price-description {
    margin-bottom: 0;
  }
  .pricing article:nth-child(1) .price {
    margin-bottom: 0;
  }
  .pricing article:nth-child(2) {
    flex-grow: unset;
    width: 100%;
    margin: 0;
  }
}
/*section contact */
.contacts {
  margin-top: 50px;
}
.contacts .container {
  max-width: 896px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.contacts .container > * {
  flex-basis: 40%;
}
.contacts form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.contacts form label:nth-of-type(2) {
  margin-top: 42px;
}
.contacts form label {
  font-size: 11px;
  font-weight: 800;
  color: #08A6E4;
  letter-spacing: 3.28px;
}
.contacts form input {
  width: 100%;
  border-bottom: 1px solid #A5A5A5;
  font-size: 16px;
  padding-top: 40px;
}
.contacts form input:focus {
  outline: none;
  color: #000;
}
.contacts form .checkbox-label {
  margin-top: 42px;
  display: flex;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 100%;
  font-weight: 400;
}
.contacts form .checkbox-label input {
  display: none;
}
.contacts form .checkbox-label span {
  height: 24px;
  width: 24px;
  border: 2px solid #A5A5A5;
  flex-shrink: 0;
  margin-right: 15px;
}
.contacts form .checkbox-label span .checkmark {
  display: none;
}
.contacts form .checkbox-label input:checked + span {
  background-image: url(../../assets/Checkmark.svg);
  background-size: contain;
  background-position: center;
}
.contacts form button {
  align-self: flex-end;
  margin-top: 24px;
  padding: 20px 97px;
  border-radius: 35px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  box-shadow: 5px 10px 14px #07ACE629;
  font-size: 12px;
  background-color: #08A6E4;
  border: none;
  text-align: right;
}

.contacts-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.contacts-info h3 {
  font-size: 49px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.contacts-info p {
  margin: 22px 0 42px 0;
  font-size: 16px;
  font-weight: 400;
}

.contact-data {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contact-data > * {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contact-data p {
  display: inline-block;
  margin: 0 0 0 10px;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 950px) {
  .contacts {
    margin-top: 24px;
    padding-top: 24px;
  }
  .contacts .container {
    max-width: 90%;
    padding: 0 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .contact-data {
    margin-bottom: 24px;
  }
}
@media (max-width: 500px) {
  .contacts .container {
    max-width: 100%;
    align-items: flex-start;
  }
  .contacts form label:nth-of-type(2) {
    margin-top: 21px;
  }
  .contacts form label {
    margin-top: 24px;
  }
  .contacts form input {
    padding-top: 20px;
  }
  .contacts .contacts-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .contacts .contacts-info h3 {
    font-size: 40px;
  }
  .contacts .contacts-info p {
    margin: 11px 0 21px 0;
  }
  .contacts .contact-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 12px;
  }
  .contacts .contact-data > * {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .contacts .contact-data p {
    margin: 0 0 0 10px;
    color: #A5A5A5;
  }
}
/* footer styling */
.footer {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 250px 5fr 80px 1fr;
  grid-template-rows: 2fr 1fr;
  height: 90px;
  background-color: #F7F7F7;
  box-shadow: 0px -5px 40px #00000029;
}
.footer p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.footer p:nth-of-type(1) {
  color: #08A6E4;
  font-size: 32px;
  font-family: "Raleway", sans-serif;
  grid-column: 2/3;
  grid-row: 1/2;
}
.footer p:nth-of-type(2) {
  font-size: 11px;
  grid-column: 2/3;
  grid-row: 2/3;
}
.footer div {
  grid-column: 4/5;
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.footer .fa-facebook-f, .footer .fa-twitter {
  width: 24px;
  height: 24px;
  font-size: 14px;
  color: #fff;
  border-radius: 50%;
  padding: 6px;
}
.footer .fa-facebook-f {
  background-color: #4267B2;
}
.footer .fa-twitter {
  background-color: #08A6E4;
}

@media (max-width: 500px) {
  .footer {
    margin-top: 50px;
    padding: 0 18px;
  }
}
.calc {
  margin-top: 100px;
  background-color: #F7F7F7;
  padding-bottom: 100px;
}
.calc .container {
  max-width: 896px;
}
@media (max-width: 1024px) {
  .calc .container {
    max-width: 100%;
    padding: 0 18px;
  }
}
.calc .container h2 {
  margin-bottom: 50px;
  text-align: center;
  color: #000;
  font-size: 32px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.calc .calc__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  gap: 50px;
}
@media (max-width: 1024px) {
  .calc .calc__columns {
    flex-direction: column;
    align-items: center;
  }
}
.calc .calc__columns > * {
  flex-basis: 50%;
}
@media (max-width: 1024px) {
  .calc .calc__columns > * {
    width: 75%;
  }
}
@media (max-width: 800px) {
  .calc .calc__columns > * {
    width: 100%;
  }
}
.calc .calc__form .calc__input:nth-of-type(2) {
  margin: 20px 0;
}
.calc .calc__form .form__input,
.calc .calc__form .select__input {
  box-sizing: border-box;
  padding: 11px 20px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #08A6E4;
  box-shadow: 0px 3px 6px #07ACE629;
  outline: none;
  font-size: 13px;
  color: #000;
}
.calc .calc__form .form__input:focus,
.calc .calc__form .select__input:focus {
  border: 2px solid #08A6E4;
}
.calc .calc__form .form__input::-moz-placeholder, .calc .calc__form .select__input::-moz-placeholder {
  font-size: 13px;
  color: #A5A5A5;
}
.calc .calc__form .form__input:-ms-input-placeholder, .calc .calc__form .select__input:-ms-input-placeholder {
  font-size: 13px;
  color: #A5A5A5;
}
.calc .calc__form .form__input::placeholder,
.calc .calc__form .select__input::placeholder {
  font-size: 13px;
  color: #A5A5A5;
}
.calc .calc__form .select__input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #A5A5A5;
  cursor: pointer;
}
.calc .calc__form .select__input .fa-circle-arrow-down {
  color: #08A6E4;
  font-size: 20px;
}
.calc .calc__form .select__dropdown {
  margin-top: 10px;
  background-color: #fff;
  padding: 11px 20px;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #EB476E29;
  border: 1px solid #EB476E;
  font-size: 13px;
  cursor: pointer;
}
.calc .calc__form .select__dropdown.d-none {
  display: none;
}
.calc .calc__form .select__dropdown li:nth-of-type(2) {
  margin: 15px 0;
}
.calc .calc__form .form__checkbox {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
.calc .calc__form .form__checkbox input[type=checkbox] {
  display: none;
}
.calc .calc__form .form__checkbox input:checked + span {
  background-image: url(../../assets/Checkmark.svg);
  background-size: contain;
  background-position: center;
}
.calc .calc__form .form__checkbox .checkbox {
  display: block;
  width: 24px;
  height: 24px;
  background-color: #ddd;
  border: 1px solid #A5A5A5;
  border-radius: 4px;
}
.calc .calc__form .form__checkbox .consent__text {
  display: inline-block;
  font-size: 13px;
  color: #A5A5A5;
}
.calc .calc__summary {
  position: relative;
  min-height: 250px;
  font-size: 14px;
}
.calc .calc__summary .list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6px 20px;
  margin-bottom: 8px;
  color: #fff;
  background-color: #55DFB4;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;
}
.calc .calc__summary .list__item.d-none {
  display: none;
}
.calc .calc__summary .list__item .item__price {
  font-size: 18px;
  font-weight: bold;
}
.calc .calc__summary .summary__total {
  position: absolute;
  right: 0;
  bottom: -10px;
  padding: 6px 20px;
  font-size: 14px;
  background-color: #08A6E4;
  color: #fff;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;
}
.calc .calc__summary .summary__total.d-none {
  display: none;
}
.calc .calc__summary .summary__total .total__price {
  display: inline-block;
  margin-left: 50px;
  font-size: 20px;
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */
