/* footer styling */
.footer {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 250px 5fr 80px 1fr;
  grid-template-rows: 2fr 1fr;
  height: 90px;
  background-color: map-get($colors, light-grey);
  box-shadow: 0px -5px 40px #00000029;

  p {
    @include flex(row, flex-start, center);
  }

  p:nth-of-type(1) {
    color: map-get($colors, primary);
    font-size: map-get($font-size, logo);
    font-family: map-get($fonts, relaway);
    grid-column: 2 /3;
    grid-row: 1/2;
  }

  p:nth-of-type(2) {
    @extend %ffopen;
    @extend %cgrey;
    font-size: map-get($font-size, smallest);
    grid-column: 2 /3;
    grid-row: 2/3;
  }

  div {
    grid-column: 4 /5;
    grid-row: 1/2;
    @include flex(row, space-evenly, center)
  }

  a {
    @extend %curpointer;
  }

  .fa-facebook-f, .fa-twitter {
    @extend %flex-row;
    width: 24px;
    height: 24px;
    font-size: 14px;
    color: #fff;
    border-radius: 50%;
    padding: 6px;

  }

  .fa-facebook-f {

    background-color: #4267B2;
  }

  .fa-twitter {
    background-color: map-get($colors, primary);
  }
}